body{
    background-color: #000000;
    color: #FFFFFF;
 }
 
 font{
    color: #FFFFFF;
 }

 a{
    color:#FF0000
 }

 textarea{
    width: 75%;
    height: 200px;
}

.longertext{
    width: 75%;
}

.postbt{
    position: relative;
    left: 60%;
    width: 15%;
    background-color: #777777;
    color: #FFFFFF;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
}
